@import url(https://fonts.googleapis.com/css?family=Lato:300italic,300);

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 200px 0;
  width: 700px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  text-transform: lowercase;
}

.star {
  font-size: 50px;
}

.bio {
  margin-bottom: 30px;
}

.name {
  font-size: 25px;
  padding-bottom: 5px;
}

.message {
  margin-top: 60px;
  font-style: italic;
}

ul {
  list-style: none;
}

a, a:visited {
  color: #AAA;
  text-decoration: none;
}

a:hover {
  color: #000000;
}

@media (min-width: 480px) {
  body {
    width: 100%;
  }
}